
$id: "NavBar";

[id="#{$id}"] {
        height: 50px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .nav-bar__title {
            display: flex;
            height: 100%;
            align-items: center;
            color: #fff;
            position: relative;
            z-index: 10;

            :first-child {
                margin: auto;
            }

            &-icon {
                position: absolute;
                right: 0;
                margin-right: 2rem;
                cursor: pointer;
                svg {
                    width: 1rem;
                    height: 1rem;
                    fill: #fff;
                }
            }
        }

        .nav-bar__links {
            position: fixed;
            z-index: 2;
            width: 60%;
            top: 0;
            right: -300px;
            height: 100%;
            background: #000;
            color: #fff;
            transition: all 0.5s;

            &-container {
                display: flex;
                height: 90%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 4rem;
            }

            &-option {
                li {
                    margin: 2rem 0;
                }
            }

            &.active {
                right: 0;
                transition: all 0.5s;
            }
        }
    
        .nav-bar__blur {
            width: 40%;
            height: 100vh;
            position: relative;
            right: 0;
            background: rgba(0, 0, 0, 0.45);
            animation: fadeBlur 0.5s ease;
        }
}

@keyframes fadeBlur {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}